@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  font-family: 'Poppins', sans-serif;
}


a {
  color: rgb(255, 255, 255)
}
